@{
    ViewData["Title"] = "Home Page";
}

@* <section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Album example</h1>
            <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </div>
</section> *@

<div class="text-center">
    <h1 class="display-4 pt-4">Welcome To ValuableBid</h1>
    <p>"Where Bids Meet Value"</p>
</div>

<!--About Section-->
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">About</h1>
            <p class="lead text-body-secondary">
                Welcome to ValuableBid, where the thrill of bidding meets exceptional value! Our platform is designed for passionate collectors, savvy shoppers, and anyone seeking unique treasures.
            </p>
        </div>
    </div>
</section>

<!--Our Mission Section-->

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Our Mission</h1>
            <p class="lead text-body-secondary">
                At ValuableBid, we believe that every bid should lead to something extraordinary. Our mission is to connect bidders with valuable items, whether it’s a rare antique, a limited-edition artwork, or a vintage timepiece. We’re committed to creating an exciting and transparent auction experience.


            </p>
        </div>
    </div>
</section>



<!--What We Offer? Section-->

<section class="py-5 text-center container">

    <h1 class="text-center fw-light ">What We Offer</h1>
    <div class="row py-lg-5">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Curated Auctions</h5>
                    <p class="card-text lead text-body-secondary">Our team scours the globe to curate auctions featuring one-of-a-kind pieces. From fine jewelry to classic cars, you’ll find it all here.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Expertise</h5>
                    <p class="card-text lead text-body-secondary">Our auctioneers and appraisers bring decades of experience. They ensure that each item on ValuableBid is authentic, valuable, and worthy of your bids.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Community</h5>
                    <p class="card-text lead text-body-secondary">ValuableBid isn’t just a platform; it’s a community of passionate collectors. Join discussions, share stories, and connect with fellow enthusiasts.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--How it Works Section-->

<section class="py-5 text-center container">
    <h1 class="text-center fw-light">What We Offer</h1>
    <div class="row py-lg-5">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Browse</h5>
                    <p class="card-text lead text-body-secondary">Explore our diverse auction categories. From art and antiques to modern gadgets, there’s something for everyone.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Bid</h5>
                    <p class="card-text lead text-body-secondary">Place your bids confidently. Our real-time bidding system keeps you in the loop, and you’ll know instantly if you’re the highest bidder.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Win</h5>
                    <p class="card-text lead text-body-secondary">When the gavel falls, celebrate your win! We’ll guide you through payment, shipping, and delivery.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Join Us Sectiom-->


<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Join the ValuableBid Experience</h1>
            <p class="lead text-body-secondary">
                Whether you’re a seasoned collector or a first-time bidder, ValuableBid invites you to explore, bid, and discover treasures that resonate with you. Happy bidding!

            </p>
            <p>
                <a href="#" class="btn btn-primary my-2">Register</a>

            </p>
        </div>
    </div>
</section>


<!--Transparency and Trust Section-->

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Transparency and Trust</h1>
            <p class="lead text-body-secondary">
                We take transparency seriously. Our listings provide detailed descriptions, high-quality images, and provenance information. Plus, our secure payment process ensures peace of mind.


            </p>
        </div>
    </div>
</section>
