@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1 class="class=" display-4 pt-4">@ViewData["Title"]</h1>
</div>



<div class="container">

    <div>
        <h5>Information We Collect</h5>
        <p>We collect the following types of information:</p>
        <ol>
            <li>
                User Registration Data:
                <ul>
                    <li>When you create an account, we collect your name, email address, and other relevant details.</li>
                    <li>Profile information you provide voluntarily (e.g., profile picture, location).</li>
                </ul>
            </li>

            <li>
                Auction Activity Data:
                <ul>
                    <li>Details related to your bidding activity, including bid amounts, timestamps, and items you’ve bid on</li>
                    <li>Information about items you list for auction, such as descriptions and images.</li>
                </ul>
            </li>


            <li>
                Device Information:

                <ul>
                    <li>We collect data about the device you use to access ValuableBid (e.g., IP address, browser type, operating system).</li>

                </ul>
            </li>
            Cookies and Analytics:

            <li>

                <ul>
                    <li>We use cookies to enhance your experience and improve our services.</li>
                    <li>Analytics tools help us understand user behavior and optimize our platform.</li>
                </ul>
            </li>


        </ol>
    </div>


    <div>
        <h5>How We Use Your Information</h5>
        <ol>
            <li>
                Account Management:
                <ul>
                    <li>We use your registration data to create and manage your account.</li>
                    <li>Communication related to your account (e.g., notifications, password resets).</li>
                </ul>
            </li>

            <li>
                Auction Functionality:
                <ul>
                    <li>Your bidding activity and auction listings are essential for the proper functioning of ValuableBid.</li>

                </ul>
            </li>

            <li>
                Communication:
                <ul>
                    <li>We may send you notifications related to auctions, account updates, and promotional offers.</li>

                </ul>
            </li>

            <li>
                Security and Fraud Prevention

                <ul>
                    <li>Protecting your data and preventing unauthorized access.</li>

                </ul>
            </li>


        </ol>
    </div>

    <div>
        <h5>Data Security</h5>
        <ul>
            <li>
                We take appropriate measures to protect your data from unauthorized access, loss, or misuse.
            </li>

            <li>
                Our servers are secured, and we follow industry best practices for data protection.
            </li>

        </ul>
    </div>

    <div>
        <h5>Third-Party Services</h5>
        <ul>
            <li>
                ValuableBid may integrate with third-party services (e.g., payment gateways). Review their privacy policies separately.
            </li>
        </ul>
    </div>

    <div>
        <h5>Your Rights</h5>
        <ul>
            <li>
                You have the right to access, correct, or delete your personal information.
            </li>

            <li>
                If you have concerns, contact our support team.
            </li>
        </ul>
    </div>

    <!--Changes to Policy-->
    <div>
        <h5>
            Changes to this Policy

        </h5>
        <ul>
            <li>
                We may update this privacy policy periodically. Check back for any changes.
            </li>
        </ul>
    </div>
</div>
